/*Initialization*/
.container{
  margin: auto;
  max-width: 1200px;
}
.flex{
  display: flex;
}

/*Header*/
header{
  background-color: aquamarine;
  padding: 12px;
}
header .container{
  position: relative;
}
header ul{
  list-style: none;
  justify-content: space-between;
}
header ul li{
  margin-left: 50px;
}
header ul li:first-of-type{
  margin-left: 0;
}
header ul li a{
  text-decoration: none;
  color: antiquewhite;
  font-size: 22px;
}
.logo-img img{
  max-width: 50px;
}
.logo-img{
  position: absolute;
  top: -10px;
  right: 49%;
}